.slider {
  height: 500px;
  margin: auto;
  width: 100%;
  display: grid;
  align-items: center;
  overflow: hidden;
}

.slide-track {
  display: flex;
  width: calc(250 * 18);
  animation: scroll 50s linear infinite;

}
.slide-track:hover {
  animation-play-state: paused;
}

.slide {
  align-items: center;
  padding: 15px;
  perspective: 100px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 9));
  }
}